<!--update.ejs-->
<h3><b>Property Create form</b></h3>
<form action="/Estate/update/<%=Estate.id%>" method="POST">
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="div01" >
            <label>Property title:</label>
            <input type="text" class="form-control" name="Estate[Propertytitle]" value="<%=Estate.Propertytitle%>" required>
        </div>
        <div class="col-lg-6 col-sm-12" id="div02">
            <label>Image URL:</label>
            <input type="text" class="form-control" name="Estate[ImageURL]" value="<%=Estate.ImageURL%>" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="div03">
            <label>Estate:</label>
            <select type="text" class="form-control" id="chosenEstate" value="<%=Estate.Estate%>" name="Estate[Estate]">
                    <option value="<%=Estate.Estate%>"><%=Estate.Estate%></option>
                    <option value ="Calson Court">Calson Court</option>
                    <option value ="Taikoo Shing">Taikoo Shing</option>
                    <option value ="City One">City One</option>
                    <option value ="Festival City">Festival City</option>
                    <option value ="Gold Coast">Gold Coast</option>
                    <option value ="Yau Ma Tei">Yau Ma Tei</option>
            </select>
        </div>
        <div class="col-lg-6 col-sm-12" id="div04">
            <label>Bedrooms:</label>
            <input type="number" class="form-control" min=1 max=6 name="Estate[Bedrooms]" value="<%=Estate.Bedrooms%>" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="div05">
            <label>Gross Area:</label>
            <input type="text" class="form-control" name="Estate[GrossArea]" value="<%=Estate.GrossArea%>" required>
        </div>
        <div class="col-lg-6 col-sm-12" id="div06">
            <label>Expected Tenants:</label>
            <input type="number" class="form-control" min=1 max=8 name="Estate[ExpectedTenants]" value="<%=Estate.ExpectedTenants%>" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="div07">
            <label>Rent:$</label>
            <input type="number" class="form-control" min=1000 max=500000 step=100 name="Estate[Rent]" value="<%=Estate.Rent%>" required>
        </div>
        <div class="col-lg-6 col-sm-12" id="div08">
            <input id="Highlighted" name="Estate[Highlighted]" type="checkbox" value="on">
            <label>Highlighted Property</label><br><br>
            <button type="submit" class="btn btn-primary">Submit</button><br>
        </div>
    </div>
    
   
</form>
<!--<form method="POST" action="/Estate/delete/<%=Estate.id%>">
        <br><button type="submit" class="btn btn-danger">Delete</button>
</form>-->
<script>
    var hlconvey = "<%=Estate.Highlighted%>"; //highlighted convey to update.ejs
    if (hlconvey == "on"){
        document.getElementById("Highlighted").checked = true;
    }
    else{
        document.getElementById("Highlighted").checked = false;
    }
</script>